.chat {
  display: flex;
  flex-direction: column;
  grid-gap: 0.7rem;
  flex-grow: 1;
  justify-content: space-between;
  max-height: 100%;
  overflow: hidden;
  margin: 0.7rem var(--side-paddings);
}

.chat__header {
  background-color: var(--secondary-bg-color);
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
}

.chat__header,
.chat__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat__info {
  grid-gap: 1em;
}

.chat__messages {
  padding: 1rem;
  grid-gap: 0.3rem;
  background-color: var(--secondary-bg-color);
  flex-grow: 1;
  overflow-y: auto;
  font-size: 1.2rem;
}

.message__divider {
  border-radius: 1rem;
  background-color: var(--main-details-color);
  color: var(--font-light-color);
  text-align: center;
  width: fit-content;
  padding: 0.1rem 1rem;
  margin: 0.5rem auto;
}

.chat__empty {
  margin: auto 0;
  text-align: center;
  justify-self: center;
}

.chat__input {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  display: flex;
  grid-gap: 0.3rem;
}

.chat__input form {
  flex-grow: 1;
}

.chat__input form input {
  width: 100%;
  border: none;
  font-size: 1.1rem;
}

.chat__message-wrapper {
  width: 100%;
  padding-bottom: 1.5rem;
}

.chat__message {
  max-width: 60%;
  display: flex;
}

.chat__message.message__yours {
  margin-left: auto;
  flex-direction: row-reverse;
}

.chat__message-wrapper:last-child {
  padding-bottom: 0;
}

.message__body {
  border-radius: 5px;
  margin: 0 1rem;
  padding: 0.3rem 0.5rem;
  background-color: var(--message-bg-color);
}

.chat__message.message__yours .message__body {
  margin-right: 0;
  background-color: var(--message-yours-bg-color);
}

.message__aside {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}

.message__interact .fas.fa-heart,
.message__interact .far.fa-heart,
.message__interact .far.fa-edit {
  cursor: pointer;
}

.message__interact .fas.fa-heart {
  color: var(--danger-color);
}

.chat__message img {
  margin: 0 0.3em;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}

.chat__messages,
.chat__header,
.chat__input {
  border-radius: 0.5rem;
  border: 0.3rem solid var(--secondary-bg-color);
}

@media screen and (max-width: 768px) {
  .chat__message {
    max-width: 90%;
  }

  .chat__header {
    padding: 0.3rem 0.5rem;
  }

  .chat__info {
    grid-gap: 0.2rem;
    flex-direction: column;
  }

  .chat__input {
    height: 5rem;
  }

  .chat__input form {
    display: flex;
    align-content: center;
  }
}