.header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0.5rem var(--side-paddings);
  background-color: var(--secondary-bg-color);
}

.header__logo,
.profile {
  display: flex;
  align-items: center;
}

.profile img {
  border-radius: 100%;
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.header__logo img {
  height: 2.25rem;
}