.loader__layout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--layout-bg-color);
  backdrop-filter: blur(2px);
}

.loader {
  margin: 0 auto;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  border: 5px solid var(--secondary-details-color);
  border-left: 5px solid transparent;
  animation: rotate 0.5s infinite linear;
}