.modal__layout {
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--layout-bg-color);
  backdrop-filter: blur(2px);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.modal {
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  margin: auto;
  width: 35vw;
  border-radius: 1.5rem;
  border-bottom: 3px solid var(--secondary-details-color);
  animation: drop 0.2s;
}

.modal__header,
.modal__body {
  width: 100%;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1rem;
}

.modal__close {
  margin-right: 0.5rem;
  font-weight: 900;
  cursor: pointer;
  transition: color 0.05s;
}

.modal__close:hover {
  color: var(--danger-color);
}

@media screen and (max-width: 768px) {
    .modal {
        width: 80vw;
    }
}