@keyframes drop {
  from {
      transform: translateY(-50%);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}