* {
  box-sizing: border-box;
}

input,
button {
  padding: 0.35rem;
  border-radius: 4px;
  border: 1px solid var(--main-details-color);
}

input,
input:focus,
button {
  outline: none;
}

.button {
  border: none;
  padding: 0 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-confirm {
  color: var(--font-light-color);
  background-color: var(--secondary-details-color);
}

.button-confirm:hover {
  background-color: #3683f9;
}

.button-confirm:active {
  background-color: #AAA;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background-color: var(--main-bg-color);
  color: var(--font-dark-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #eeeff2;
  --secondary-bg-color: #FFF;
  --font-light-color: #FFF;
  --font-dark-color: #333;
  --main-details-color: #3335;
  --secondary-details-color: #4693F9;
  --message-bg-color: #EEEFF2;
  --message-yours-bg-color: #EBF3FE;
  --layout-bg-color: #000B;
  --danger-color: #f73e48;
  --side-paddings: 15vw;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  :root {
    --side-paddings: 5vw;
  }
}